.wrapper {
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
    font-family: inherit;
    color: var(--color-default);
    padding: 6px;
    min-width: 32px;
    line-height: 2.2rem;
    border-radius: 4px;
    cursor: pointer;
    border: 0px solid transparent;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.45);
    transition: all 0.3s ease;

    // wrapper đứng ngay sau wrapper (2 nút kế nhau)
    + .wrapper {
        margin-left: 16px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

// type button
.transparent {
    background-color: #ffffff26;
}

.rounded {
    font-size: 1.6rem;
    font-weight: 600;
    padding: 6px 16px;
    min-width: 120px;
    color: var(--text-color);
    background-color: var(--color-primary);
    border-radius: 32px;
    line-height: 24px;

    &:hover {
        opacity: 0.6;
    }
}

.outline {
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #000;
    border: 1px solid #24242f;
    padding: 8px 18px;
    border-radius: 20px;
    min-width: 80px;
}
.premium {
    display: flex;
    font-weight: 700;
    line-height: 1.8rem;
    background: linear-gradient(269.36deg, rgba(225, 134, 96, 0.9) 23.92%, rgba(244, 202, 93, 0.9) 101.14%);
    text-align: left;
    padding: 6px 12px;
    .emoji {
        font-size: 32px;
        line-height: 32px;
        margin-right: 8px;
    }
}

.icon {
    width: 16px;
    height: 16px;
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}
