@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --color-primary: #f3a952 !important;
    --text-color: #212020 !important;
    --text-white: #fcfaf8 !important;
    --color-default: #fff;
    --font-family: Roboto, serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: var(--font-family);
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: var(--color-default);
    text-rendering: optimizeSpeed;
    overflow-y: overlay;
    background-color: #14141d;
}

img {
    border-style: none;
    vertical-align: middle;
}
video {
    display: block;
}

a {
    text-decoration: none;
}

// css for slick-react
.slick-active div {
    opacity: 1;
}

// Font henju
@font-face {
    font-family: Henju, sans-serif;
    src: url('/assets/fonts/Henju-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: Henju, sans-serif;
    src: url('/assets/fonts/Henju-Bold.ttf');
    font-weight: 400;
}

*::-webkit-scrollbar {
    display: none;
}

img video {
    border-style: none;
    vertical-align: middle;
}
// custom tooltip

body {
    .tippy-box {
        background-color: #00000080;
        border-radius: 0.8rem;
        font-size: 1.6rem;
        font-weight: 500;
    }
    .tippy-arrow {
        display: none;
    }
    .tippy-content {
        margin: 0 16px;
    }
    .tippy-box[data-theme~='lateral'] {
        background-color: #363636;
        color: #fff;
        font-size: 1.4rem;

        .tippy-content {
            margin: 0;
            padding: 0.8rem;
        }
    }
}
