$menu-width: 50px;
.wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100vw;

    .lateral-menu {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: $menu-width;
        padding: 18px 0;
        margin-right: 20px;
        border-radius: 8px;
        background-color: #121212;
        z-index: 9999;

        .study-tools {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: all 0.2s ease;
            .divider {
                width: 25px;
                height: 1px;
                background-color: #fff2;
                border-radius: 2px;
                margin: 15px 0;
            }

            &.closed {
                height: 0;
                pointer-events: none;
                visibility: hidden;
            }
            &.open {
                height: 282px;
                visibility: visible;
            }
        }
        .menu-item {
            display: flex;
            justify-content: center;
            align-items: center;
            height: $menu-width;
            width: $menu-width;
            cursor: pointer;
        }
        .svg * {
            fill: var(--color-primary);
        }
        .rounded-top {
            position: absolute;
            top: -16px;
            width: $menu-width;
            right: 4px;
            transform: rotateX(180deg);
            z-index: -1;
        }
    }
}
