.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    display: flex;
    justify-content: center;
    z-index: 30;
}
.inner {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100vw;
    padding: 0 48px;
    z-index: 30;
}

.actions {
    display: flex;
    align-items: center;
    margin-top: 28px;
    .signUp-btn{
        border-radius: 8px;
        padding: 5px 16px;
        margin-right: 8px;
        text-align: center;
        &:hover {
            opacity: 0.5;
        }
    }
}

.actionBtn {
    display: flex;
    margin-left: 8px;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: all .2s ease-in-out;

    &:hover {
        opacity: 0.3;
    }

    img {
        height: 32px;
        width: 32px;
    }
}