.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    display: none;
    .control-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 32px;
        padding: 13px 10px;
        background: #121212;
        cursor: pointer;
        &:hover {
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), #121212;
        }
    }
    .prev-btn {
        border-radius: 8px 0px 0px 8px;
    }
    .next-btn {
        border-radius: 0 8px 8px 0;
    }
    .play-btn {
        padding: 10px;
        width: 35px;
        border-width: 0px 0.5px;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0.1);
    }
}

@media only screen and (max-width: 923px) {
    .wrapper {
        display: flex;
    }
}
