.wrapper {
    position: fixed;
    height: 100%;
    width: 100%;
}
.dialog {
    position: fixed;
    inset: 0;
    z-index: 50;
    overflow-y: auto;
}

.Modal {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 20;
}
