.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
    margin-top: 200px;
    color: var(--text-white);
}
.title {
    font-size: 3.2rem;
}

.content {
    margin-top: 20px;
    margin-bottom: 20px;
}

.backHome {
    text-decoration: underline;
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-primary);
}
