.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
    margin-top: 200px;
}
.title {
    font-size: 3.2rem;
}

.content {
    margin-top: 20px;
}
